%header.header
  .container
    .content
      %h1
        .logo Pop-up dom

      %h2
        .new-dim.new-dim-static
          .text
            28. november 2013

      %h3
        .new-dim.new-dim-static
          .text
            V Ljubljani

%section.whatis
  .container
    .content
      %p Zavod Rompom v sodelovanju z Muzejem za arhitekturo in oblikovanje, predstavlja drugi Pop-up dom - začasno trgovino, kjer so izdelki mladih slovenskih ustvarjalcev predstavljeni v realnem okolju.

%section.white-content.events
  .container
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Dogodki
             
      / %ul.regular-list.category-list
      /   - @event_categories.each do |c|
      /     %li= c.name
      
      .event-list
        - @events.each_with_index do |e, i|
          .event.category-list
            .insides
              %h3= e.name
              %h4
                - case e.begins_at.strftime "%A"
                  - when "Monday"
                    Ponedeljek,
                    
                  - when "Tuesday"
                    Torek,
                    
                  - when "Wednesday"
                    Sreda,
                    
                  - when "Thursday"
                    Četrtek,
                    
                  - when "Friday"
                    Petek,

                  - when "Saturday"
                    Sobota,

                  - when "Sunday"
                    Nedelja,
                    
                = e.begins_at.strftime "%-d.%-m.%y ob %-H:%M"

              - if e.event_images.size > 0
                .leimage.royalSlider.rsDefault
                  - e.event_images.each do |i|
                    = image_tag "#{i.file}", :style => 'width: 100%;', :class => 'rsImg'

              .description
                != Markdown.new(e.description).to_html

            - if e.price and e.price > 0
              .buy
                %a{:href => '#'}
                  .new-dim.new-dim-interactive
                    .text
                      Kupi karte
              .price
                = "€ #{e.price.round}"

                
            
  %br
  %br
  %br
  %br

:coffeescript
  $ ->
    eventPack = new Packery($('.event-list').get(0), {itemSelector: '.event'})
    $('.event-list').imagesLoaded ->
      eventPack.layout()

%section.dark-content.products
  .container
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Storitve

      .body
        .col_4
          %h3
            Coworking
          %p
            Phasellus a lorem sit amet odio tincidunt bibendum. Vestibulum facilisis tristique felis sit amet molestie. Duis molestie, orci vitae scelerisque semper, urna neque porta est, et egestas ante dui eu justo. Aenean rhoncus accumsan ipsum, id tincidunt turpis faucibus sed. In est ligula, euismod at lorem id, varius pharetra odio. Aenean ut ligula vel odio tempor tempor. Pellentesque pulvinar molestie nulla, eget ullamcorper leo lacinia mollis. Phasellus purus elit, ultricies sed sollicitudin sit amet, egestas a lectus.


        .col_4
          %h3
            Start-up dom
          %p
            Maecenas non ultrices dui, ac auctor enim. Proin ullamcorper justo at lorem interdum, vitae dictum elit dictum. Sed eget dignissim dolor. Donec ut odio laoreet, faucibus libero faucibus, elementum quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam placerat nec est ac pellentesque. Morbi blandit consequat neque, at pharetra risus varius vel. Vivamus at lobortis felis, et tincidunt turpis. Sed vel tellus accumsan diam facilisis porta. Sed bibendum accumsan purus sed porta. Pellentesque vehicula, quam ac dictum luctus, neque eros lobortis massa, eu semper sem lorem ut magna. Praesent convallis imperdiet sem at blandit.
        .col_4
          %h3
            Coffee shop
          %p
            Mauris tristique fermentum nunc, non rhoncus justo. Proin vestibulum, libero quis lobortis suscipit, justo nibh suscipit erat, nec venenatis ante lacus eget nulla. Sed venenatis eros nec pharetra pharetra. Nunc in nisl sit amet dolor feugiat fringilla eu nec augue. Integer id sollicitudin arcu. Phasellus ac feugiat mi, ac convallis leo. Integer ante nisi, lobortis in accumsan vel, ultricies quis metus. Suspendisse erat lectus, faucibus vitae dui non, pulvinar semper lectus. Praesent rutrum magna augue, a tincidunt tortor tempus volutpat. Duis eu purus vel libero feugiat volutpat.

%section.light-content.products
  .container
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Izdelki
  
      / %ul.regular-list.category-list
      /   - @product_categories.each do |c|
      /     %li= c.name
      
      .product-list
        - @products.each_with_index do |p, i|     
          .product.card
            %h2= p.name
            .image{class: "image-#{(i % 3) + 1}"}

            - if false
              %p= p.description
              %p= p.product_author.name
              %p= p.price

:coffeescript
  $ ->
    productPack = new Packery($('.product-list').get(0), {itemSelector: '.product'})
    $('.product-list').imagesLoaded ->
      productPack.layout()



%section.light-content.participants.sponsors
  .container
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Sodelujoči
      .participant-list.col_12
        - participants = []
        - @participants.each do |p|
          - participant = link_to p.name, p.link
          - participants.push participant
        =raw participants.join ', '
    
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Partnerji
      .partner-list.col_12
        - partners = []
        - @partners.each do |s|
          - partner = link_to s.name, s.link
          - partners.push partner
        =raw partners.join ', '

    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Sponzorji
      .sponsor-list.col_12
        - sponsors = []
        - @sponsors.each do |s|
          - sponsor = link_to s.name, s.link
          - sponsors.push sponsor
        =raw sponsors.join ', '

%section.dark-content.contacts
  .container
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Kontakti
        %ul.regular-list
          - @contacts.each do |c|
            %li
              %strong= c.name
              |
              %em= c.role
              |
              = link_to c.address, "mailto:#{c.address}"

:coffeescript
  $ ->
    $(".royalSlider").royalSlider
      keyboardNavEnabled: true
      imageScaleMode: 'fit'
      controlNavigation: 'none'
      imageScalePadding: 0
      arrowsNav: false
      slidesSpacing: 0
      loop: true
      transitionType: 'slide'
      transitionSpeed: 1200
      fullscreen:
        enabled: false
        native: true 
      autoPlay:
        enabled: true
        pauseOnHover: true