%header.header
  .container
    .content
      %h1
        .logo Pop-up dom

      %h2
        .new-dim.new-dim-static
          .text
            28.&#8239;november

      %h3
        .new-dim.new-dim-static
          .text
            Tobačna&#8239;5,&#8239;Ljubljana

%section.whatis
  .container
    .content
      %p Pop-up dom je enomesečni dogodek sinergije teorije in prakse, ki predstavlja prodajno razstavo produktov slovenskih ustvarjalcev ter sodobno pisarno namenjeno skupnemu delu, povezovanju in sodelovanju.
      .morelink
        %p
          %a{:href => '#'} Več
        
      .extended.scale_0{:style => 'display: none;'}
        %p Po uspešni lanskoletni izvedbi istoimenskega projekta Pop-up Dom ponovno odpira svoja vrata. V letošnjem letu na 800 m2 v prvem nadstropju Tobačne ulice 5 obljublja še bolj pestro dogajanje ter hkrati enomesečno trgovino z več kot 100 oblikovalskimi izdelki 60 mladih ustvarjalcev. Letošnja rdeča nit projekta je »coworking« (skupinski delovni prostor, ki omogoča medsebojno povezovanje), tako bo prostor od ponedeljka do sobote med 8. in 20. uro na voljo samostojno delujočim posameznikom vse do 23. decembra.

        %p Pop-up dom je skupnostni projekt, osnovan na pobudi mladih slovenskih oblikovalcev, arhitektov in umetnikov. Iniciativa se je zgodila zaradi pomanjkanja delovnih priložnosti mladih slovenskih oblikovalcev. S skupnostnim projektom, ki ga letos ustvarjamo drugič, želimo tudi v prihodnje generirati nove poslovne in delovne priložnosti.

        %p Projekt predstavlja enomesečni dogodek, ki predstavlja sinergijo teorije in prakse. V oblikovanem prostoru skupnosti se v okolju 1:1 izpostavi in uporablja več kot 100 oblikovalskih izdelkov 60 mladih avtorjev, vsebina projekta pa je naravnana v podporo izdelkov. Letošnja tema je skupinski delovni prostor – sodobna pisarna, ki omogoča medsebojno povezovanje in sodelovanje. Prostor bo ves čas dogodka odprt kot delovno mesto samostojno delujočim posameznikom in tistim, ki delajo na dislocirani lokaciji, omogočal bo sodelovanje in povezovanje ter pridobivanje novih znanj. V sklopu projekta bo vzpostavljen kreativni del poslovne verige, ki bo posameznikom omogočila razvoj in realizacijo produktov - Pop-up Fablab, Creative lab in Crowdfunding lab. Skupnostne vrednote, raziskovanje novih trendov in nove ustvarjalne ekonomije predstavljajo možnost, da se Slovenija izvije iz ekonomskega krča, ki ga je ustvarila globalna gospodarska kriza.

        %p Organizator dogodka je Zavod Rompom v sodelovanju z Muzejem za arhitekturo in oblikovanje (MAO). Projekt je podprlo Ministrstvo za kulturo in Regionalna razvojna agencija Ljubljana v okviru Regionalnega centra kreativne ekonomije. Vsebinski partnerji dogodka so Slovenia Coworking, Slovenia Crowdfounding, Kino Šiška, Muslauf, Zavod Boben in Lajna ter Kino Otok.
        
        :coffeescript
          $('.morelink').click (e) ->
            # $('.extended').show()
            # ext_height = $('.extended').height()
            $('.morelink').hide()
            $('.extended').slideDown()

%section.white-content.events
  .section-heading
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Dogodki

  .container
    .content      
      .event-list
        - @events.each_with_index do |e, i|
          .event.category-list
            .cat
              = e.event_category.name
            .insides
              %h3= e.name
              %h4
                - case e.begins_at.strftime "%A"
                  - when "Monday"
                    Ponedeljek,
                    
                  - when "Tuesday"
                    Torek,
                    
                  - when "Wednesday"
                    Sreda,
                    
                  - when "Thursday"
                    Četrtek,
                    
                  - when "Friday"
                    Petek,

                  - when "Saturday"
                    Sobota,

                  - when "Sunday"
                    Nedelja,
                    
                = e.begins_at.strftime "%-d.%-m.%y ob %-H:%M"

              - if e.event_images.size > 0
                .leimage.royalSlider.rsDefault
                  - e.event_images.each do |i|
                    = image_tag "#{i.file}", :style => 'width: 100%;', :class => 'rsImg'

              .description
                != Markdown.new(e.description).to_html

            - if e.price and e.price > 0 
              .buy
                %a{:href => '#'}
                  .new-dim.new-dim-interactive
                    .text
                      Kupi&#8239;karte
              .price
                != "€&#8239;#{e.price.round}"

                
:coffeescript
  $ ->
    eventPack = new Packery($('.event-list').get(0), {itemSelector: '.event'})
    $('.event-list').imagesLoaded ->
      eventPack.layout()

%section.dark-content.services
  .section-heading
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Storitve
  .container
    .content

      .body
        .startup-dom  
          %h3
            START-UP DOM
          .tempimg
            %img{:style => "width: 100%;", :src => '/img/startupdom.png'}
          %p.scale_0 Skupnostne vrednote, raziskovanje novih trendov in nove ustvarjalne ekonomije predstavljajo možnost, da se Slovenija izvije iz ekonomskega krča, ki ga je ustvarila globalna gospodarska kriza. Pop-up dom zato vzpostavlja kreativni proces, v katerem bodo v času projekta vključene tri samostojno delujoče enote - te bodo posamezniku omogočile zasnovo, razvoj ter realizacijo produktov in storitev.
          
          %h4 Crowdfunding Lab
          %p.scale_0 Iniciativa Crowdfunding.si si prizdeva za razvoj in krepitev kulture množičnega financiranja v Sloveniji. V okviru Pop-up doma bomo vzpostavili začasni laboratorij in kreativno skupnost aktivno vključili v razvoj novih crowdfunding projektov ter na primerih iz prakse svetovali o pripravi in izvedbi kampanj.

          %h4 FabLab
          %p.scale_0 Popup-dom FabLab (fabrication lab) je s sodobnimi kreativnimi tehnologijami opremljena delavnica, ki omogoča posameznikom pretvoriti ideje ter koncepte v realnost. S poudarkom na uporabi 3d-tiskalnika slovenske izdelave, se bo izdelovalo prototipe, po principu naredi-si-sam predelovalo ter izdelovalo pametne elektronske naprave, gradilo sisteme za domačo pridelavo hrane, ter soustvarjalo neprofitne projekte v svetovni odprto-kodni open-hardware skupnosti. Fab-labi dokazujejo, da se lokalne probleme bolj učinkovito rešuje z lokalno proizvodnjo.
          
          %h4 Creative Lab
          %p.scale_0 Creative Lab sestavljajo posamezniki, ki radi rešujejo probleme, prihajajo pa iz ustvarjalnega segmenta družbe, katere temeljne vrednote so deljenje znanja, odgovorna komunikacija in trajnostni razvoj. Pri projektih se za doseg zastavljenih ciljev poglobijo v ključne premise produkta ali storitve in tako dodajo vrednost, ki je nujno potrebna za uspeh v družbi in na tržišču.
        
        .coworking
          
          %h3
            COWORKING
          .tempimg
            %img{:style => "width: 100%;", :src => '/img/coworking.jpg'}
          %p.scale_0 Letošnja rdeča nit projekta je vzpostavitev skupnega delovnega prostora, ki omogoča medsebojno povezovanje, tkanje socialnih mrež in zvišuje proces ustvarjalnosti pri posameznikih. Tekom projekta Pop-up dom se lahko aktivno - brez predhodne najave ali prijave - od ponedeljka do sobote med 8.00 in 20.00 vključiš v hitro rastočo domačo kreativno skupnost in prostore Pop-up doma uporabljaš kot svoje delovno mesto. Pomni - coworking prinaša uporabnikom možnost izmenjave znanja in sodelovanja pri projektih. Predvsem pa ustvarja vse pogoje za nastajanje in razvoj poslovnih idej ter posledičnega generiranja novih poslovnih priložnosti.
        
        .coffee

          %h3 POP-UP TOČAJ
          .tempimg
            %img{:style => "width: 100%;", :src => '/img/coffee.gif'}

          %p.scale_0 Za vsakodnevno dobro počutje in umiritev delovnih strasti bo poskrbel Pop-up točaj, ki bo dnevno pripravljal dišečo slovensko kavo, točil domače pivo Pelicon in ponudil okusne prigrizke. Ker so zadovoljne brbončice in pozitivni miselni procesi na prvem mestu!

%section.light-content.products
  .section-heading
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Izdelki

  .container
    .content
  
      / %ul.regular-list.category-list
      /   - @product_categories.each do |c|
      /     %li= c.name
      
      / .product-list
      /   - @products.each_with_index do |p, i|     
      /     .product.card
      /       %h2= p.name
      /       .image{class: "image-#{(i % 3) + 1}"}

      /       - if false
      /         %p= p.description
      /         %p= p.product_author.name
      /         %p= p.price

      .product-gallery.royalSlider.rsDefault{:style => "height: 500px; clear: both;"}
        - @gallery_images.each do |i|
          = image_tag "#{i.file}", :style => 'width: 100%;', :class => 'rsImg'


:coffeescript
  $ ->
    productPack = new Packery($('.product-list').get(0), {itemSelector: '.product'})
    $('.product-list').imagesLoaded ->
      productPack.layout()



%section.white-content.participants.sponsors{:style => 'background: #fff;'}
  .section-heading
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Partnerji
    
  .container
    .content

      - if false
        .partner-list.col_12.align_center
          - partners = []
          - @partners.each do |s|
            - partner = link_to s.name, s.link
            - partners.push partner
          =raw partners.join ', '
      
      .col_12
        %img{:src => '/img/partnerji.jpg', :style => 'width: 100%;'}

  .section-heading-trans
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Sponzorji

  .container
    .content
      - if false
        .sponsor-list.col_12.align_center
          - sponsors = []
          - @sponsors.each do |s|
            - sponsor = link_to s.name, s.link
            - sponsors.push sponsor
          =raw sponsors.join ', '

      .col_12
        %img{:src => '/img/sponzorji.jpg', :style => 'width: 100%;'}

    - if false
      .content
        .heading
          %h2
            .new-dim.new-dim-static
              .text
                Sodelujoči
        .participant-list.col_12.align_center
          - participants = []
          - @participants.each do |p|
            - participant = link_to p.name, p.link
            - participants.push participant
          =raw participants.join ', '

%section.light-content.contacts
  .section-heading
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Kontakti
  .container
    .content
      .contacts.row_12
        - @contacts.each do |c|
          .col_6
            %strong= c.name
            |
            %em= c.role
            |
            = link_to c.address, "mailto:#{c.address}"

      %br
      %br
      %br
      %br
      %br
      %br


:coffeescript
  $ ->
    $(".royalSlider").royalSlider
      keyboardNavEnabled: true
      imageScaleMode: 'fit'
      controlNavigation: 'none'
      imageScalePadding: 0
      arrowsNav: false
      slidesSpacing: 0
      loop: true
      transitionType: 'slide'
      transitionSpeed: 1200
      background: 'transparent'
      fullscreen:
        enabled: false
        native: true 
      autoPlay:
        enabled: true
        pauseOnHover: true