%header.header
  .container
    .content
      %h1
        .logo Pop-up dom

      %h2
        .new-dim.new-dim-static
          .text
            28. november 2013

      %h3
        .new-dim.new-dim-static
          .text
            V Ljubljani

%section.description
  .container
    .content
      %p Zavod Rompom v sodelovanju z Muzejem za arhitekturo in oblikovanje, predstavlja drugi Pop-up dom - začasno trgovino, kjer so izdelki mladih slovenskih ustvarjalcev predstavljeni v realnem okolju.

%section.dark-content.events
  .container
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Dogodki
             
      %ul.regular-list.category-list
        - @event_categories.each do |c|
          %li= c.name
      
      - @events.each do |e|

        .event.card
          %h2= e.name
          .description
            != Markdown.new(e.description).to_html


%section.light-content.products
  .container
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Izdelki
  
      %ul.regular-list.category-list
        - @product_categories.each do |c|
          %li= c.name
      
      .product-list
        - @products.each_with_index do |p, i|     
          .product.card
            %h2= p.name
            .image{class: "image-#{(i % 3) + 1}"}

            - if false
              %p= p.description
              %p= p.product_author.name
              %p= p.price

:coffeescript
  $ ->
    productPack = new Packery($('.product-list').get(0), {itemSelector: '.product'})



%section.dark-content.participants.sponsors
  .container
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Sodelujoči
      .participant-list
        - participants = []
        - @participants.each do |p|
          - participant = link_to p.name, p.link
          - participants.push participant
        =raw participants.join ', '
    
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Sponzorji
      .sponsor-list
        - sponsors = []
        - @sponsors.each do |s|
          - sponsor = link_to s.name, s.link
          - sponsors.push sponsor
        =raw sponsors.join ', '

%section.light-content.contacts
  .container
    .content
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Kontakti
        %ul.regular-list
          - @contacts.each do |c|
            %li
              %strong= c.name
              |
              %em= c.role
              |
              = link_to c.address, "mailto:#{c.address}"