%header.header
  .container
    .content
      %h1
        .logo Pop-up dom

      %h2
        .new-dim.new-dim-static
          .text
            od&#8239;28.11.&#8239;do&#8239;23.12.

      %h3
        .new-dim.new-dim-static
          .text
            Tobačna&#8239;5,&#8239;Ljubljana

%section.whatis.white-on-dark
  .container
    .content
      .succinct
        %p Pop-up dom je enomesečni dogodek sodelovanja teorije in prakse. Predstavlja prodajno razstavo produktov slovenskih ustvarjalcev ter sodobno pisarno namenjeno skupnemu delu, povezovanju in sodelovanju.
      .morelink
        %p
          %a{:href => '#'} Več
        
      .extended{:style => 'display: none;'}
        %p Po uspešni lanskoletni izvedbi istoimenskega projekta, Pop-up Dom ponovno odpira svoja vrata. V letošnjem letu na 800 m2 v prvem nadstropju Tobačne ulice 5 obljublja še bolj pestro dogajanje ter hkrati enomesečno trgovino z več kot 100 oblikovalskimi izdelki 60 mladih ustvarjalcev. Letošnja rdeča nit projekta je »coworking« (skupinski delovni prostor), tako bo prostor od ponedeljka do sobote med 8. in 20. uro na voljo samostojno delujočim posameznikom vse do 23. decembra.

        %p Pop-up dom je skupnostni projekt, osnovan na pobudi mladih slovenskih oblikovalcev, arhitektov in umetnikov. Iniciativa se je zgodila zaradi pomanjkanja delovnih priložnosti prav te skupine ljudi. S skupnostnim projektom, ki ga letos ustvarjamo drugič, želimo tudi v prihodnje ustvariti nove poslovne in delovne priložnosti.

        %p V oblikovanem prostoru skupnosti bomo v okolju 1:1 izpostavili in uporabljali več kot 100 oblikovalskih izdelkov, vsebina projekta pa je naravnana v podporo izdelkov. Prostor bo ves čas dogodka odprt kot delovno mesto za samostojne delujoče posameznike in za tiste, ki delajo na dislocirani lokaciji. Omogočal bo sodelovanje in povezovanje ter pridobivanje novih znanj. V sklopu projekta bo vzpostavljen kreativni del poslovne verige, ki bo posameznikom omogočila razvoj in realizacijo produktov - Pop-up Fablab, Creative lab in Crowdfunding lab. Skupnostne vrednote, raziskovanje novih trendov in nove ustvarjalne ekonomije predstavljajo možnost, da se Slovenija izvije iz ekonomskega krča, ki ga je ustvarila globalna gospodarska kriza

        %p Organizator dogodka je Zavod Rompom v sodelovanju z Muzejem za arhitekturo in oblikovanje (MAO). Projekt je podprlo Ministrstvo za kulturo in Regionalna razvojna agencija Ljubljana v okviru Regionalnega centra kreativne ekonomije. Vsebinski partnerji dogodka so Slovenia Coworking, Slovenia Crowdfounding, Kino Šiška, Muslauf, Zavod Boben in Lajna ter Kino Otok.
        
        :coffeescript
          $('.morelink').click (e) ->
            # $('.extended').show()
            # ext_height = $('.extended').height()
            $('.morelink').hide()
            $('.extended').slideDown()

%section.white-content.events
  .section-heading
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Dogodki

  .container
    .content      
      .event-list
        - events_with_images = 0
        - @events.each_with_index do |e, i|
          .event.category-list
            .cat.white-on-dark
              = e.event_category.name
            - if e.event_images.size == 1
              .pic.noSlider
                - if e.event_images.first.file.to_s.end_with? 'gif' or e.event_images.first.file.to_s.end_with? 'GIF'
                  = image_tag e.event_images.first.file, :style => 'width: 100%;', :class => 'rsImg'
                - else
                  = image_tag e.event_images.first.file.big_thumb, :style => 'width: 100%;', :class => 'rsImg'

            - if e.event_images.size > 1
              - events_with_images += 1
              - if events_with_images % 2 == 0
                .pic.royalSlider.rsDefault.rsEven
                  - e.event_images.each do |image|
                    - if image.file.to_s.end_with? 'gif' or e.event_images.first.file.to_s.end_with? 'GIF'
                      = image_tag image.file, :style => 'width: 100%;', :class => 'rsImg'
                    - else
                      = image_tag image.file.big_thumb, :style => 'width: 100%;', :class => 'rsImg'

              - else
                .pic.royalSlider.rsDefault.rsOdd
                  - e.event_images.each do |image|
                    - if image.file.to_s.end_with? 'gif' or e.event_images.first.file.to_s.end_with? 'GIF'
                      = image_tag image.file, :style => 'width: 100%;', :class => 'rsImg'
                    - else
                      = image_tag image.file.big_thumb, :style => 'width: 100%;', :class => 'rsImg'
              
            .insides
              %h3= e.name
              %h4
                - case e.begins_at.strftime "%A"
                  - when "Monday"
                    Ponedeljek,
                    
                  - when "Tuesday"
                    Torek,
                    
                  - when "Wednesday"
                    Sreda,
                    
                  - when "Thursday"
                    Četrtek,
                    
                  - when "Friday"
                    Petek,

                  - when "Saturday"
                    Sobota,

                  - when "Sunday"
                    Nedelja,
                    
                = e.begins_at.strftime "%-d.%-m.%y ob %-H:%M"


              .description
                != Markdown.new(e.description).to_html

            - if e.price and e.price > 0 and false
              .buy
                %a{:href => '#'}
                  .new-dim.new-dim-interactive
                    .text
                      Kupi&#8239;karte
              .price
                != "€&#8239;#{e.price.round}"

                
:coffeescript
  $ ->
    eventPack = new Packery($('.event-list').get(0), {itemSelector: '.event'})
    $('.event-list').imagesLoaded ->
      eventPack.layout()

%section.white-content.services
  .section-heading
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Storitve
  .transgreen-surf
    .container
      .content
        .tempimg.align_center
          %img{:src => '/img/startupdom/startupdom.png'}

  .container
    .content
      .startup-dom
        %p Sistematiziramo storitve, ki učinkovito komunicirajo in prodajo vašo idejo, izdelke ali storitve. Skupnostne vrednote, raziskovanje novih trendov in nove ustvarjalne ekonomije predstavljajo možnost, da se Slovenija zopet postavi na noge. Start-up dom zato vzpostavlja kreativni proces, v katerem bodo v času projekta vključene tri samostojno delujoče enote - te bodo posamezniku ali ekipi omogočile zasnovo, razvoj ter realizacijo produktov in storitev.
  
  .fillgreen-surf
    .container
      .content
        .tempimg.align_center
          %img{:src => '/img/startupdom/proces.png'}

  .container
    .content
      .crowdfunding
        %h4 CROWDFUNDING LAB
        %p Iniciativa Crowdfunding.si si prizadeva za razvoj in krepitev kulture množičnega financiranja v Sloveniji. V okviru Pop-up doma bomo vzpostavili začasni laboratorij in kreativno skupnost aktivno vključili v razvoj novih crowdfunding projektov ter na primerih iz prakse svetovali o pripravi in izvedbi kampanj.
      .creative
        %h4 CREATIVE LAB
        %p Creative Lab sestavljajo posamezniki, ki radi rešujejo probleme. Prihajajo iz ustvarjalnega segmenta družbe, katere temeljne vrednote so deljenje znanja, odgovorna komunikacija in trajnostni razvoj. Pri projektih se za dosego zastavljenih ciljev poglobijo v ključne dejavnosti, poslovne načrte in namere. Izboljšujejo izkušnje, komunikacije in odnose v delovnih okoljih in tako dodajo vrednost, ki je nujno potrebna za uspeh v družbi in na tržišču.

  .transyellow-surf
    .container
      .content
        .tempimg.align_center
          %img{:src => '/img/startupdom/fablab.png'}

  .container
    .content
      .fab-lab
        %h4 FAB LAB
        %p FabLab (fabrication lab) je s sodobnimi kreativnimi tehnologijami opremljena delavnica, ki omogoča posameznikom pretvoriti ideje ter koncepte v realnost. S poudarkom na uporabi 3d-tiskalnika slovenske izdelave, se bo izdelovalo prototipe, po principu naredi-si-sam predelovalo in izdelovalo pametne elektronske naprave, gradilo sisteme za domačo pridelavo hrane ter soustvarjalo neprofitne projekte v svetovni odprto-kodni open-hardware skupnosti. Fab-labi dokazujejo, da se lokalne probleme bolj učinkovito rešuje z lokalno proizvodnjo.
        
  .transblue-surf
    .container{:style => 'padding-top: 0;'}
      .content
        .tempimg.align_center{:style => 'position: absolute; left: 0; right: 0;'}
          %img{:src => '/img/startupdom/coworking_logo.png'}
        .tempimg.align_center
          %img{:src => '/img/startupdom/coworking.jpg'}

      .coworking
        / %h3
        /   COWORKING
        %p Letošnja rdeča nit projekta je vzpostavitev skupnega delovnega prostora, ki omogoča medsebojno povezovanje, tkanje socialnih mrež in zvišuje proces ustvarjalnosti pri posameznikih. Tekom projekta Pop-up dom se lahko aktivno - brez predhodne najave ali prijave - od ponedeljka do sobote med 8.00 in 20.00 vključiš v hitro rastočo domačo kreativno skupnost in prostore Pop-up doma uporabljaš kot svoje delovno mesto. Pomni - coworking prinaša uporabnikom možnost izmenjave znanja in sodelovanja pri projektih. Predvsem pa ustvarja vse pogoje za nastajanje in razvoj poslovnih idej ter posledičnega generiranja novih poslovnih priložnosti.
  
  .container
    .content
      .tempimg.align_center
        %img{:src => '/img/startupdom/tocaj.png'}
      .tempimg.align_center
        %img{:src => '/img/coffee.gif'}
      .coffee
        / %h3 POP-UP TOČAJ
        %p Za vsakodnevno dobro počutje in umiritev delovnih strasti bo poskrbel Pop-up točaj, ki bo dnevno pripravljal dišečo slovensko kavo, točil domače pivo Pelicon in ponudil okusne prigrizke. Ker so zadovoljne brbončice in pozitivni miselni procesi na prvem mestu!

%section.black-content.products
  .section-heading
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Izdelki

  .container
    .content
  
      / %ul.regular-list.category-list
      /   - @product_categories.each do |c|
      /     %li= c.name
      
      / .product-list
      /   - @products.each_with_index do |p, i|     
      /     .product.card
      /       %h2= p.name
      /       .image{class: "image-#{(i % 3) + 1}"}

      /       - if false
      /         %p= p.description
      /         %p= p.product_author.name
      /         %p= p.price

      .product-gallery.royalSlider.rsDefault{:style => "width: 100%; height: 500px; clear: both;"}
        - @gallery_images.each do |i|
          = image_tag "#{i.file}", :style => 'width: 100%;', :class => 'rsImg'


:coffeescript
  # $ ->
  #   productPack = new Packery($('.product-list').get(0), {itemSelector: '.product'})
  #   $('.product-list').imagesLoaded ->
  #     productPack.layout()



%section.white-content.participants.sponsors{:style => 'background: #fff;'}
  .section-heading
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Partnerji
    
  .container
    .content

      - if false
        .partner-list.col_12.align_center
          - partners = []
          - @partners.each do |s|
            - partner = link_to s.name, s.link
            - partners.push partner
          =raw partners.join ', '
      
      .col_10.push_col_1
        %img{:src => "#{@partners.first.file.url}", :style => 'width: 100%;'}

    - if false
      .content
        .heading
          %h2
            .new-dim.new-dim-static
              .text
                Sodelujoči

%section.light-content.contacts
  .section-heading
    .container
      .heading
        %h2
          .new-dim.new-dim-static
            .text
              Ekipa
  .container
    .content
      .contact-list
        - @contacts.each do |c|
          .contact
            %strong= c.name
            |
            %em= c.role
            |
            = link_to c.address, "mailto:#{c.address}"


      .participant-list.align_center
        - participants = []
        - @participants.each do |p|
          - if p.link.blank?
            - participant = p.name
          - else
            - participant = link_to p.name, p.link
          - participants.push participant
        =raw participants.join ', '
      %br
      %br
      %br
      %br
      %br


:coffeescript
  $ ->

    $(".events .noSlider").royalSlider
      # keyboardNavEnabled: true
      # imageScaleMode: 'fit'
      imageScaleMode: 'fill'
      controlNavigation: 'none'
      imageScalePadding: 0
      arrowsNav: false
      slidesSpacing: 0
      # loop: true
      # transitionType: 'slide'
      # transitionSpeed: 250
      background: 'transparent'
      fadeinLoadedSlide: false
      # fullscreen:
      #   enabled: false
      #   native: true 
      autoPlay:
        enabled: false
        # delay: 4200
        # pauseOnHover: true

    $(".events .rsOdd").royalSlider
      keyboardNavEnabled: true
      # imageScaleMode: 'fit'
      imageScaleMode: 'fill'
      controlNavigation: 'none'
      imageScalePadding: 0
      arrowsNav: false
      slidesSpacing: 0
      loop: true
      transitionType: 'slide'
      transitionSpeed: 250
      background: 'transparent'
      fadeinLoadedSlide: false
      fullscreen:
        enabled: false
        native: true 
      autoPlay:
        enabled: true
        delay: 4100
        pauseOnHover: true

    callback = ->
      $(".events .rsEven").royalSlider
        keyboardNavEnabled: true
        # imageScaleMode: 'fit'
        imageScaleMode: 'fill'
        controlNavigation: 'none'
        imageScalePadding: 0
        arrowsNav: false
        slidesSpacing: 0
        loop: true
        transitionType: 'slide'
        transitionSpeed: 250
        background: 'transparent'
        fadeinLoadedSlide: false
        fullscreen:
          enabled: false
          native: true 
        autoPlay:
          enabled: true
          delay: 3900
          pauseOnHover: true 

    setTimeout(callback, 100)

    $(".products .royalSlider").royalSlider
      keyboardNavEnabled: true
      imageScaleMode: 'fit'
      # imageScaleMode: 'fill'
      controlNavigation: 'none'
      imageScalePadding: 0
      arrowsNav: false
      slidesSpacing: 0
      loop: true
      transitionType: 'slide'
      transitionSpeed: 500
      background: 'transparent'
      fullscreen:
        enabled: false
        native: true 
      autoPlay:
        enabled: true
        delay: 4000
        pauseOnHover: false
      addActiveClass: true
      visibleNearby:
        enabled: false
        centerArea: 0.6
        center: true
        # breakpoint: 650
        # breakpointCenterArea: 0.64
        navigateByCenterClick: true
