= render partial: 'intro'

=# render partial: 'product_list' unless @products.empty?
= render partial: 'product_list' if params['preview'] == 'izdelki'

= render partial: 'event_list'

= render partial: 'services'

= render partial: 'sponsors'

= render partial: 'contacts'