= render partial: 'intro'

= render partial: 'event_list' unless @events.empty? or @events.detect{|e| e.has_future_occurances? } == nil

= render partial: 'product_list' unless @products.empty?

= render partial: 'services' unless I18n.locale == :it

= render partial: 'sponsors'

= render partial: 'contacts'