= render partial: 'intro'

= render partial: 'product_list' unless @products.empty?

= render partial: 'event_list'

= render partial: 'services'

= render partial: 'sponsors'

= render partial: 'contacts'