= render partial: 'intro'

= render partial: 'product_list' unless @products.empty?

= render partial: 'event_list' unless @events.detect{|e| e.has_future_occurances? } == nil

= render partial: 'services'

= render partial: 'sponsors'

= render partial: 'contacts'