<!DOCTYPE html>
<html>
<head>
  <title>POP-UP DOM | 28. november | TobaÄna 5, Ljubljana </title>
  <link rel="stylesheet" href="/royalslider/royalslider.css">
  <link rel="stylesheet" href="/royalslider/skins/default/rs-default.css"> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="/royalslider/jquery.royalslider.min.js"></script>
  <link href='/favicon.ico' rel='icon' sizes='64x64' type='image/x-icon'>
  <meta name="viewport" content="initial-scale=1">
  <meta property="og:image" content="http://popupdom.si/img/HELLO_NSA.png"><!-- FUCK ZUCK -->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>
<%= yield %>

</body>
</html>
