<!DOCTYPE html>
<html>
<head>
  <title>POP-UP DOM | 29. september | Vienna Design Week, Mondscheingasse 11</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='/favicon.ico' rel='icon' sizes='64x64' type='image/x-icon'>
  <meta name="viewport" content="initial-scale=1">
  <meta property="og:image" content="http://popupdom.si/img/HELLO_NSA.png"><!-- FUCK ZUCK -->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= yield %>
<script type="text/javascript">
  (function() {
    var config = {
      kitId: 'slf1wue',
      scriptTimeout: 3000
    };
    var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
  })();
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35565471-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
